<div id="contact" class="contact">
    <div class="container">
    <div class="row">
        <div class="col-md-6">
            <form id="request" class="main_form">
                <div class="row">
                <div class="col-md-12 ">
                    <h3>Contact Us</h3>
                </div>
                <div class="col-md-12 ">
                    <input class="contactus" placeholder="Name" type="type" name="Name"> 
                </div>
                <div class="col-md-12">
                    <input class="contactus" placeholder="Phone Number" type="type" name="Phone Number"> 
                </div>
                <div class="col-md-12">
                    <input class="contactus" placeholder="Email" type="type" name="Email">                          
                </div>
                <div class="col-md-12">
                    <input class="contactusmess" placeholder="Message" type="type" Message="Name">
                </div>
                <div class="col-md-12">
                    <button class="send_btn">Send</button>
                </div>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <div class="locations-container">
                <h1>Visit Our Convenient Locations</h1>
                <div class="location-item">
                <div class="location-info">
                    <h3>HaiCode Eyewear - Main Street</h3>
                    <p>123 Main Street, Somewhere Vietnam</p>
                    <p>Open: Monday - Saturday, 9AM - 6PM</p>
                </div>
                </div>
                <div class="location-item">
                <div class="location-info">
                    <h3>HaiCode Eyewear - Downtown</h3>
                    <p>456 Park Avenue, Somewhere Vietnam</p>
                    <p>Open: Monday - Friday, 10AM - 7PM</p>
                </div>
                </div>
                <div class="location-item">
                <div class="location-info">
                    <h3>HaiCode Eyewear - Shopping Mall</h3>
                    <p>789 Retail Plaza, Somewhere Vietnam</p>
                    <p>Open: Monday - Sunday, 11AM - 8PM</p>
                </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!--
    <div class="container-fluid">
    <div class="map_section">
        <div id="map">
        </div>
    </div>
    </div>
    -->
</div>
<div class="socialmedia">
    <div class="container">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div class="titlepage">
                <h2>Our Social Midea Links</h2>
                <br>
                <a href="https://www.facebook.com/" class="fa fa-facebook" target="_blank"></a>
                <a href="https://x.com/" class="fa fa-twitter" target="_blank"></a>
                <a href="https://linkedin.com/" class="fa fa-linkedin" target="_blank"></a>
            </div>
        </div>
    </div>
    </div>
</div>