<!-- banner -->
<section class="banner_main">
    <div id="banner1" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#banner1" data-slide-to="0" class="active"></li>
        <li data-target="#banner1" data-slide-to="1"></li>
        <li data-target="#banner1" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="container">
                <div class="carousel-caption">
                    <div class="text-bg">
                        <h1> <span class="blu">Welcome <br></span>To Our Glasses Shop</h1>
                        <figure><img src="/images/banner_img.png" alt="#"/></figure>
                        <a class="read_more" href="/glasses/4">Shop Now</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="carousel-caption">
                <div class="text-bg">
                    <h1> <span class="blu">Shaping Brilliance <br></span>Your Glass Solutions</h1>
                    <figure><img src="/images/banner_img2.png" alt="#"/></figure>
                    <a class="read_more" href="/glasses">Shop Now</a>
                </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="carousel-caption">
                <div class="text-bg">
                    <h1> <span class="blu">Transparent Transformations <br></span>Redefining the Ordinary</h1>
                    <figure><img src="/images/banner_img3.png" alt="#"/></figure>
                    <a class="read_more" href="/glasses">Shop Now</a>
                </div>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#banner1" role="button" data-slide="prev">
    <i class="fa fa-arrow-left" aria-hidden="true"></i>
    </a>
    <a class="carousel-control-next" href="#banner1" role="button" data-slide="next">
    <i class="fa fa-arrow-right" aria-hidden="true"></i>
    </a>
    </div>
</section>
<!-- end banner -->
<!-- about section -->
<div class="about">
    <div class="container">
    <div class="row d_flex">
        <div class="col-md-5">
            <div class="about_img">
                <figure><img src="/images/about_img.png" alt="#"/></figure>
            </div>
        </div>
        <div class="col-md-7">
            <div class="titlepage">
                <h2>Why Our Shop</h2>
                <p>Established in 2014, HaiCode Eyewear has been a trusted name in the local community for over a decade. As one of the area's longest-running independent optical retailers, we take pride in our extensive experience and expertise in the glasses and eyewear business.</p>
            </div>
            <a class="read_more" href="/home/about">Read More</a>
        </div>
    </div>
    </div>
</div>
<!-- about section -->
<!-- Our shop section -->
<div id="about" class="shop">
    <div class="container-fluid">
    <div class="row">
        <div class="col-md-5">
            <div  class="shop_img">
                <figure><img src="/images/shop_img.png" alt="#"/></figure>
            </div>
        </div>
        <div class="col-md-7 padding_right0">
            <div class="max_width">
                <div class="titlepage">
                <h2>Elevate Your Style with Our Premium Glasses Collection</h2>
                <p>Featuring the latest designer frames and state-of-the-art lens technology, our glasses are the epitome of sophistication and performance. Whether you're seeking a classic aviator silhouette or a bold, fashion-forward look, our diverse selection has something to complement every face shape and personal aesthetic.</p>
                <a class="read_more" href="/glasses/6">Shop Now</a>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
<!-- end Our shop section -->
<!-- clients section -->
<div class="clients">
    <div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="titlepage">
                <h2>What our clients say</h2>
                <p>Some Rave Reviews from Our Satisfied Customers</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="myCarousel" class="carousel slide clients_Carousel " data-ride="carousel">
                <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container">
                        <div class="carousel-caption ">
                            <div class="row">
                            <div class="col-md-12">
                                <div class="clients_box">
                                    <figure><img src="/images/ourc1.jpg" alt="#"/></figure>
                                    <h3>David M</h3>
                                    <p>As someone with a very specific prescription, I was worried about finding the right glasses. But the team at HaiCode Eyewear made the process seamless. They took the time to understand my requirements and recommended lenses that have dramatically improved my eyesight. I can't thank them enough!</p>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container">
                        <div class="carousel-caption">
                            <div class="row">
                            <div class="col-md-12">
                                <div class="clients_box">
                                    <figure><img src="/images/ourc2.jpg" alt="#"/></figure>
                                    <h3>Sarah T</h3>
                                    <p>I have been a loyal customer of HaiCode Eyewear for the past 7 years, and they never disappoint me. The staff is incredibly knowledgeable and genuinely cares about finding the perfect fit for my vision needs and personal style. I always leave the store feeling confident and satisfied with my purchase.</p>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container">
                        <div class="carousel-caption">
                            <div class="row">
                            <div class="col-md-12">
                                <div class="clients_box">
                                    <figure><img src="/images/ourc3.jpg" alt="#"/></figure>
                                    <h3>Olivia S</h3>
                                    <p>I recently had my first experience at HaiCode Eyewear, and it was fantastic from start to finish. The showroom is beautifully curated, and the optician who assisted me was patient, attentive, and helped me find the most flattering frames for my face. I'll definitely be returning for all my future eyewear needs.</p>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                <i class='fa fa-angle-left'></i>
                </a>
                <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                <i class='fa fa-angle-right'></i>
                </a>
            </div>
        </div>
    </div>
    </div>
    <br>
</div>
<!-- end clients section -->