<header>
    <!-- header inner -->
    <div class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                    <div class="full">
                        <div class="center-desk">
                            <div class="logo">
                                <a href="/home"><img src="https://i.imgur.com/scYASek.png" alt="#" /></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                    <nav class="navigation navbar navbar-expand-md navbar-dark ">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarsExample04">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item {{#if index}}active{{/if}}">
                                    <a class="nav-link" href="/home">Home</a>
                                </li>
                                <li class="nav-item {{#if about}}active{{/if}}">
                                    <a class="nav-link" href="/home/about">About</a>
                                </li>
                                <li class="nav-item {{#if glasses}}active{{/if}}">
                                    <a class="nav-link" href="/glasses">Our Glasses</a>
                                </li>
                                <li class="nav-item {{#if shop}}active{{/if}}">
                                    <a class="nav-link" href="/home/shop">Shop</a>
                                </li>
                                <li class="nav-item" {{#if contact}}active{{/if}}>
                                    <a class="nav-link" href="/home/contact">Contact Us</a>
                                </li>
                                {{!-- <li class="nav-item d_none login_btn {{#if login}}active{{/if}}">
                                    <a class="nav-link" href="/user/login">Login</a>
                                </li>
                                <li class="nav-item d_none {{#if register}}active{{/if}}">
                                    <a class="nav-link" href="/user/register">Register</a>
                                </li> --}}
                                 <!-- Conditionally render login/register or user/logout -->
                                {{#if user}}
                                <li class="nav-item">

                                    <a class="nav-link" href="/user/profile" >Hello, {{limit user.username 7}}</a>

                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-red-500 hover:text-red-700" href="/user/logout">Logout</a>
                                </li>
                                {{else}}
                                <li class="nav-item d_none login_btn {{#if login}}active{{/if}}">
                                    <a class="nav-link" href="/user/login">Login</a>
                                </li>
                                <li class="nav-item d_none {{#if register}}active{{/if}}">
                                    <a class="nav-link" href="/user/register">Register</a>
                                </li>
                                {{/if}}
                                <li class="nav-item d_none sea_icon">
                                    <a class="nav-link" href="/user/cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>