<div id="about" class="shop">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5">
                <div  class="shop_img">
                    <figure><img src="images/shop_img.png" alt="#"/></figure>
                </div>
            </div>
            <div class="col-md-7 padding_right0">
                <div class="max_width">
                    <div class="titlepage">
                    <h2>We have the best Glasses</h2>
                    <p>The HaiCode Sunglasses is by far the most popular frame in our collection. The Sunglasses features subtly curved arms that hug the face for a comfortable and secure fit, while the slim profile creates a refined, sophisticated look that complements a wide range of face shapes. Customers rave about the exceptional quality and timeless style of the HaiCode Sunglasses, making it the undisputed best-selling frame in our collection year after year.</p>
                    <a class="read_more" href="product1.html">Shop Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>