<section id="login-form" class="login_section py-12 bg-gray-100 ">
    <div class="container mx-auto">
        <div class="flex justify-center">
            <!-- Image container -->
            <div class="relative w-full max-w-xs md:max-w-md md:mr-4">
                <img src="/images/flower.jpg" alt="img" class="w-full h-auto rounded-r-2xl object-cover" />
                <div class="absolute bottom-10 right-6 p-4 bg-white bg-opacity-30 backdrop-blur-sm rounded drop-shadow-lg">
                    <span class="text-black text-lg">
                        "We've been using Untitle to kick<br />start every new project
                        and can't <br />imagine working without it."
                    </span>
                </div>
            </div>

            <!-- Form container -->
            <div class="w-full max-w-md bg-white p-8 rounded-lg shadow-lg">
                <h2 class="text-2xl font-bold text-center text-gray-700 mb-6">Login</h2>
                <form action="/user/login" method="POST">
                    <div class="mb-4">
                        <label for="email" class="block text-gray-600 mb-2">Email</label>
                        <input type="email" id="email" name="email" class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:border-indigo-500" placeholder="Enter your email" required>
                        <small id="emailFeedback" class="text-sm"></small>
                    </div>
                    <div class="mb-6">
                        <label for="password" class="block text-gray-600 mb-2">Password</label>
                        <input type="password" id="password" name="password" class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:border-indigo-500" placeholder="Enter your password" required>
                    </div>
                    <!-- Error Message -->
                    {{#if errorMessage}}
                    <div class="mb-6">
                        <span class="text-xs text-red-700 bg-red-100 w-full px-4 py-2 border rounded-lg focus:outline-none focus:border-indigo-500"></span>
                        {{errorMessage}}
                    </div>
                    {{/if}}

                    <button type="submit" class="w-full bg-black text-white p-2 rounded-lg mb-6 hover:bg-gray-500 hover:text-black hover:border hover:border-gray-300">
                        Login
                    </button>
                    <button class="w-full border border-gray-300 text-md p-2 rounded-lg mb-6 hover:bg-black hover:text-white">
                        <img src="/images/google.svg" alt="img" class="w-6 h-6 inline mr-2" />
                        Sign in with Google
                    </button>
                    <div class="text-center text-gray-400">
                        Don't have an account?
                        <a href="/user/register" class="font-bold text-black hover:text-indigo-600">Sign up for free!</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function () {
    $('#email').on('blur', function () {
      const email = $(this).val().trim();
      if (email === '') {
        $('#emailFeedback').text('Please enter an email address').css('color', 'red');
        return;
      }

      $.ajax({
        url: '/user/check-availability',
        method: 'POST',
        contentType: 'application/json',
        data: JSON.stringify({ email }),
        success: function (response) {
          const emailFeedback = $('#emailFeedback');
          if (response.emailAvailable) {
            emailFeedback.text('Email is available').css('color', 'green');
          } else {
            emailFeedback.text('Email is already registered').css('color', 'red');
          }
        },
        error: function () {
          $('#emailFeedback').text('Error checking email availability. Please try again later.').css('color', 'red');
        },
      });
    });
  });
</script>
