<div class="about">
    <div class="container">
    <div class="row d_flex">
        <div class="col-md-7">
            <div class="titlepage" id="titlepage2">
                <h2>About Our Shop</h2>
                <p>At HaiCode Eyewear, we are dedicated to transforming the way you see the world. As an operated glasses shop, we have been proudly serving the local community for over 10 years, offering unparalleled expertise, a diverse selection of high-quality products, and a personalized shopping experience.</p>
            </div>
        </div>
        <div class="col-md-5" >
            <div class="about_img">
                <figure><img src="/images/store.png" alt="#"/></figure>
            </div>
        </div>
    </div>
    </div>
</div>
<div class="about">
    <div class="container">
    <div class="row d_flex">
        <div class="col-md-5" >
            <div class="about_img">
                <figure><img src="/images/mission.png" alt="#"/></figure>
            </div>
        </div>
        <div class="col-md-7">
            <div class="titlepage">
                <h2>Our Mission</h2>
                <p>Our mission is to empower our customers with the gift of confident eyesight. We believe that the right pair of glasses can not only improve your eyesight but also enhance your overall well-being and self-confidence. That's why we are committed to providing you with the perfect eyewear solution, tailored to your unique needs and personal style.</p>
            </div>
        </div>
    </div>
    </div>
</div>
<div class="about">
    <div class="container">
    <div class="row d_flex">
        <div class="col-md-8">
            <div class="titlepage" id="titlepage2">
                <h2>Our Vision</h2>
                <p>At the heart of HaiCode Eyewear is a vision to redefine the eyewear experience. We strive to be more than just a glasses shop – we aim to be a trusted partner in your journey to visual excellence. Through our exceptional customer service, innovative product offerings, and unwavering commitment to quality, we aspire to set the standard for optical retail in our community and beyond.                     </p>
            </div>
        </div>
        <div class="col-md-4" >
            <div class="about_img">
                <figure><img src="/images/vision.png" alt="#"/></figure>
            </div>
        </div>
    </div>
    </div>
</div>
<!-- about section -->
<!-- Member section -->
<div class="glasses">
    <div class="container">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div class="titlepage">
                <h2>Our Team Members</h2>
                <p>At HaiCode Eyewear, our exceptional team of professionals is the heart and soul of our business. 
                Guided by a shared passion for delivering outstanding customer service and optical excellence, our staff is the driving force behind the success of our glasses shop.
                </p>
            </div>
        </div>
    </div>
    </div>
    <div class="container-fluid">
    <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
            <div class="glasses_box">
                <figure><img src="/images/member1.jpg" alt="#"/></figure>
                <h3><span class="blu">22127191</span></h3>
                <p>Tran Huy Khanh</p>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
            <div class="glasses_box">
                <figure><img src="/images/member2.jpg" alt="#"/></figure>
                <h3><span class="blu">22127193</span></h3>
                <p>Vu Nguyen Gia Khiem</p>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
            <div class="glasses_box">
                <figure><img src="/images/member3.jpg" alt="#"/></figure>
                <h3><span class="blu">21127675</span></h3>
                <p>Nguyen Hoang Phuoc</p>
            </div>
        </div>
    </div>
    </div>
</div>